services:
  db:
    image: postgres:16
    container_name: task_api_db
    restart: always

    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: taskdb

    ports:
      - "5433:5432"

    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
